<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="serviceConfiguration" type="ServiceConfigurationSection.ServiceConfigurationSection, ServiceConfigurationSection, Version=1.0.0.0, Culture=neutral, PublicKeyToken=f46a87b3d9a80705" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <!-- Configuration section for describing application services. -->
  <serviceConfiguration xmlns="http://tempuri.org/ServiceConfiguration.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="ServiceConfiguration.xsd">
    <serviceInstances>
      <!-- UserStorage #1 - Master -->
      <serviceInstance type="UserStorage" name="master-us" apiPort="6000">
        <master>
          <slaveEndpoint name="slave1-uk" host="localhost" port="8081" />
          <slaveEndpoint name="slave2-de" host="localhost" port="8082" />
        </master>
      </serviceInstance>
      <!-- UserStorage #2 - Slave 1 -->
      <serviceInstance type="UserStorage" name="slave1-uk" apiPort="6001">
        <slave port="8081" />
      </serviceInstance>
      <!-- UserStorage #3 - Slave 2 -->
      <serviceInstance type="UserStorage" name="slave2-de" apiPort="6002">
        <slave port="8082" />
      </serviceInstance>
    </serviceInstances>
  </serviceConfiguration>

  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
    </trace>
    <switches>
      <add name="enableLogging" value="0"/>
    </switches>
  </system.diagnostics>
</configuration>